# Build folders
bin/
obj/

# Visual Studio
.vs/

# VS Code
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Temporary files
*.tmp
*.cache

# OS files
.DS_Store
Thumbs.db

**/bin/
**/obj/
.vs/
.vscode/